.bg{
    background-image: url('img/sample-pattern.png');
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: blue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .box{
      max-width: 1200px;
      width: auto;
      padding: 30px;
      background-color: white;
      margin: auto;
      outline-style: solid;
      outline-width: 0.05em;
      outline-color: whitesmoke;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
